*{
    padding: 0%;
    margin: 0%;;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
    background-color: peachpuff;
    align-items: center;
    height: 80px;

}




.myntra_home{
    height:45px;
}


.logo_container{
    margin-left: 40px
}

.action_bar{
    margin-right: .4%;
}
.nav_bar{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}